body {
  background: url("/images/bodyBg.jpg") no-repeat center center fixed;
  background-size: cover;
}

.card1 {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 500px;
  height: 400px;
  border-radius: 10px;
  box-shadow: -5px -5px 10px rgba(3, 4, 85, 0.233),
    5px 5px 15px rgba(0, 0, 0, 0.5);
  max-width: 100%;
  background: #151515;
  overflow: hidden;
}

.cardheader {
  background-image: url("/images/bg.jpg");
  width: 500px;
  height: 150px;
  max-width: 100%;
}

.avatar-img {
  display: flex;
  justify-content: center;
  margin: auto;
  border-radius: 50%;
  margin-top: -70px;
  box-shadow: 0 4px 8px 0 rgba(83, 6, 6, 0.13),
    0 6px 20px 0 rgba(63, 38, 38, 0.219);
}

.cardbody {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.headerh1 {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 30px;
  color: rgba(240, 248, 255, 0.466);
}

.headerh3 {
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  font-size: 20px;
  color: rgba(240, 248, 255, 0.466);
}

.iconUl {
  list-style: none;
  font-size: 30px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

i.fab {
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0px 0px 2px #888;
  padding: 0.5em 0.6em;
  color: rgba(240, 248, 255, 0.466);
}

i.far {
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0px 0px 2px #888;
  padding: 0.5em 0.6em;
  color: rgba(240, 248, 255, 0.466);
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}

.footer {
  position: absolute;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.452);
  bottom: 0;
  right: 0;
  margin-right: 10px;
}

@media only screen and (max-width: 320px) {
  .iconUl {
    font-size: 20px;
  }
}
